@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  /* height: 100vh;
  overflow: hidden !important; */
}

::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

.logo {
  width: 200px;
}

.logo a {
  color: white;
  text-decoration: none;
}

header {
  position: absolute;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255, 0.1);
  padding: 0.9rem 0;
  top: 0;
  left: 0;
}

header nav {
  max-width: 92%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

.hamburger {
  padding: 0 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before, .hamburger .bar::after {
  content: "";
  position: absolute;
  width: 60%;
  background-color: inherit;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  bottom: -4.5px;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.45s cubic-bezier(.37,.67,.46,1);
}

.rays {
  position: absolute;
  width: 138%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
}

.bg-image {
  position: absolute;
  width: 138%;
  top: 46.2%;
  left: 50%;
  z-index: 1;
}

.mountain-5 {
  position: absolute;
  width: 138%;
  top: 53%;
  left: 47.5%;
  z-index: 2;
}

.fog-5 {
  position: absolute;
  width: 112%;
  top: 47%;
  left: 50%;
  z-index: 3;
}

.mountain-4 {
  position: absolute;
  width: 112%;
  top: 46%;
  left: 48%;
  z-index: 4;
}

.fog-4 {
  position: absolute;
  width: 112%;
  top: 46%;
  left: 50%;
  z-index: 5;
}

.mountain-2 {
  position: absolute;
  width: 112%;
  top: 46%;
  left: 50%;
  z-index: 7;
}

.fog-2 {
  position: absolute;
  width: 112%;
  top: 46%;
  left: 50%;
  z-index: 8;
}

.mountain-1 {
  position: absolute;
  width: 112%;
  top: 48.5%;
  left: 50%;
  z-index: 9;
}

.fog-1 {
  position: absolute;
  width: 112%;
  top: 46%;
  left: 50%;
  z-index: 10;
}

.mountain-0 {
  position: absolute;
  width: 115%;
  top: 46%;
  left: 50%;
  z-index: 11;
}

.text {
  position: absolute;
  z-index: 6;
  left: 50%;
  top: 39.8%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  pointer-events: auto;
}

.text h2 {
  font-weight: 100;
  font-size: 6.5rem;
  line-height: 0.88;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 0.88;
}

.vignette {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

@media (max-width: 1100px) {
  .text h1 {
    font-size: 4rem
  }

  .text h2 {
    font-size: 6rem
  }
}

@media (max-width: 725px) {
  /* .hamburger {
    padding: 0 0.4rem;
  } */

  .hamburger {
    display: none;
  }
  
  .text h1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .text h2 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .logo a {
    font-size: 10px;
  }
  
  header nav {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  header ul a {
    font-size: 0.7rem;
    padding: 0 0.5rem;
  }

  .search a {
    font-size: 0.85rem;
    padding: 0 0.8em;
  }
  
  .bg-image {
    width: initial;
    height: 220.8%;
  }
  
  .mountain-5 {
    width: initial;
    height: 220.8%;
  }
  
  .fog-5 {
    width: initial;
    height: 179.2%;
  }
  
  .mountain-4 {
    width: initial;
    height: 179.2%;
  }
  
  .fog-4 {
    width: initial;
    height: 179.2%;
  }
  
  .mountain-2 {
    width: initial;
    height: 179.2%;
  }
  
  .fog-2 {
    width: initial;
    height: 179.2%;
  }
  
  .mountain-1 {
    width: initial;
    height: 179.2%;
  }
  
  .fog-1 {
    width: initial;
    height: 179.2%;
  }
  
  .mountain-0 {
    width: initial;
    height: 184.2%;
  }  

  .rays {
    width: initial;
    height: 220.8%; 
  }

  .vignette {
    position: absolute;
  }
}

/* Loading Screen */

svg.tea {
  --secondary: #33406f;
}
svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}
svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}
svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}
@-moz-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-o-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

#loading-screen {
  min-height: 100vh;
  display: grid;
  place-items: center;
}